@model IEnumerable<testeNess.Models.Paciente>

<h4>Lista de Pacientes</h4>

<p>
    @Html.ActionLink("Cadastrar novo Paciente", "IncluirPaciente")
</p>
<table class="table">
    <tr>

        <th>
            @Html.DisplayNameFor(model => model.NomePaciente)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DataNascimento)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Endereco)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Telefone)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Celular)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Email)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DataConsulta)

        </th>
    </tr>


    @foreach (var item in Model)
    {



        var dataConsRazor = item.DataConsulta;
        string[] arr = dataConsRazor.Split('-');

        var dataNasciRazor = item.DataNascimento;
        string[] arrNasc = dataConsRazor.Split('-');



        @Html.HiddenFor(model => item.IdPaciente);
        <tr class="itemPaciente">

          

            <td>
                @Html.DisplayFor(modelItem => item.NomePaciente)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DataNascimento)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Endereco)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Telefone)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Celular)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DataConsulta)
            </td>
            <td>
                
                <input type="text" id="meuTeste" name="meuTeste" value="@item.DataConsulta"  style="display:none;"/>
               

                @Html.ActionLink("Editar", "EditarPaciente", new { id = item.IdPaciente }, null) |

                <a href="" class="deletar" id="@item.IdPaciente" onclick="deletar(this.id)" style="cursor:pointer">Deletar</a> |


                @Html.ActionLink("Agendar", "AgendasConsulta", new { id = item.IdPaciente }, null)
            </td>
        </tr>
    }


</table>

<script>


    

    function deletar(id) {

        
        parseInt(id);
        var rota = "ExcluiDeNovo/";
      
        console.log(id);
        $.post(rota, { id: id }).done(function (data) { location.reload() });
    }







    var arrayTecnicos = $('.itemPaciente');
    var DataConsulta = new Array();
    var resultado = new Array();



        for (var i = 0; i < arrayTecnicos.length; i++) {

            resultado = {
                DataConsulta: $('#meuTeste').val()

            
                };
            console.log(resultado);
    };

    






</script>